<% var title ='', description='', keywords=''; %>
<% var section1Class ='', section2Class='', section3Class=''; %>


<%- include common/_header %>
<main>
<section class="<%= section1Class%>">

</section>
<section class="<%= section2Class%>">

</section>
<section class="<%= section3Class%>">

</section>
</main>
<%- include common/_footer %>
